.Header-holdsButtonsDiv {
  margin-bottom: 2%;
  min-height: 80px;
  min-width: 50px;
  display: flex;
}
.Header-holdsButtonsDiv :hover {
  cursor: pointer;
}
.Header-mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}
.Header-LogosDiv {
  display: flex;
  flex-direction: column;
  width: min-content;
  text-align: center;
}
