.Main-div {
  display: flex;
  width: auto;
  background: #212121;
}
.Main-leftDiv {
  width: 7%;
  position: sticky;
  top: 0px;
  height: 100vh;
}
.Main-mainDiv {
  width: 86%;

  min-height: 100vh;
}

.Main-rightDiv {
  width: 7%;
  position: sticky;
  top: 0px;
  height: 100vh;
}
.Main-footer {
  height: 100px;
}
.Main-header {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #484848;
}
