.Main-div {
  display: flex;
  width: auto;
  height: 100vh;
}
.Main-leftDiv {
  width: 7%;
  background: #ff7067;
}
.Main-mainDiv {
  width: 86%;
  background: #212121;
  min-height: 100vh;
  overflow: scroll;
}

.Main-rightDiv {
  width: 7%;
  background: #ff7067;
}
.Main-footer {
  height: 100px;
}
.Main-header {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
