.Portfolio-RecipesImage-div {
  width: 60%;
  background: #920000;
  height: min-content;
  position: relative;
}
.Portfolio-RecipesImage {
  display: block;
  opacity: 0.6;
  width: 100%;
}
.Portfolio-holder-div {
  display: flex;
  justify-content: space-around;
  position: relative;
}
